@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&family=Raleway:wght@300;400;600&display=swap');



body {
    /* resuable variables  */
    --montserrat: 'Montserrat', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --deep-blue: #182848;
    --baby-blue: #bfdbfe;
    --med-blue: #4b6cb7;


    font-family: var(--raleway);
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #000046, #1CB5E0);
    background: linear-gradient(to bottom right, #bfdbfe, rgba(191,219,254,0));
    /* background: linear-gradient(to bottom right, #24C6DC, #514A9D); */
    background: linear-gradient(to bottom right, var(--med-blue), var(--deep-blue));
    /* background: linear-gradient(to bottom right, #00d2ff, #3a7bd5); */
    /* background: linear-gradient(to bottom right, #B993D6, #8CA6DB); */
    /* background: linear-gradient(to bottom right, #0f0c29, #302b63); */
    /* background: linear-gradient(to bottom right, #B2FEFA, #0ED2F7); */
    /* background: linear-gradient(to bottom right, #56CCF2, #2F80ED); */
}

.mainModal {
    padding: 30px;
    padding-bottom: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    /* box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06); */
}

.headline {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--deep-blue);
}

/*======= CONTENT SECTION =======*/

.contentDisplay {
    width: 350px;
    height: 350px;
    background: var(--baby-blue);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentHeadline {
    color: var(--deep-blue);
}

.contentLink {
    display: flex;
}

.contentLink a {
    color: var(--deep-blue);
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}

.contentLink a:hover {
    color: var(--med-blue);
}

.contentImage img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ======= PODCAST PLAYER ======= */

.podcastPlayer {
    margin-top: 22px;
}

.sliderBar {
    width: 350px;
    height: 12px;
    background: lightgray;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
}

.sliderBar:hover {
    cursor: pointer;
}

.innerBar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--deep-blue);
    border-radius: 10px;
}

/* ======== BUTTONS ======== */

.podcastButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.podcastButtons button {
    border: none;
    background: none;
    color: var(--deep-blue);
}

.podcastButtons button:hover {
    cursor: pointer;
}

.backButton,
.forwardButton {
    font-size: 20px;
}

.playButton,
.pauseButton {
    font-size: 40px;
    width: 65px;
}

.hidden {
    display: none;
}